# These can be left as is
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Postgrespassword123!
POSTGRES_DB=PokerDB

OPENAI_MODEL=gpt-4o-mini    

# OBS: These values need to be updated for the application to run properly. Please update them with your own credentials.
OPENAI_API_KEY=add_your_own_openai_api_key_here
AZURE_STORAGE_KEY=add_your_own_azure_storage_key_here
AZURE_STORAGE_ACCOUNT=name_of_your_azure_storage_account_here
AZURE_STORAGE_CONTAINER=name_of_your_azure_storage_container_here